body {
	background-color: #e8f0ff;
	font-family: "Tahoma";
}

form {
	position: relative;
	top: 15%;
	left: 25%;
	width: 50%;
	text-align: center;
}

legend {
	font-size: 24px;
}

table {
	position: relative;
	text-align: center;
	margin: 0px auto;
}

.shoptable {
	border: 1px solid black;
	border-collapse: collapse;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px 15px;
}

th {
	background-color: #9eb3d3;
}

p {
	text-align: center;
	font-size: 16px;
}

p.header {
	font-size: 30px;
	font-weight: bold;
}

.shipping, .total {
	background-color: #9eb3d3;
}
